.logout-button {
    padding: 5px 10px;

    color: var(--white-grey-light);

    background-color: var(--lilac-dark);
    border: 1px solid var(--lilac-middle);
    border-radius: 5px;
}

.logout-button:hover {
    cursor: pointer;
}

.logout-button:active {
    position: relative;
    top: 2px;
}
