.channels-title {
    color: var(--grey-dark);
}

.add-channel-button:active {
    border: none;
    box-shadow: 2px 2px 5px 0 var(--lilac-middle);
}

.channel-button {
    padding: 0.4rem 0.8rem;

    background-color: var(--lilac-light);
    color: var(--grey-middle);
    border: none;
}

.channel-menu-btn {
    border: none;
    border-radius: 0%;
    background-color: var(--lilac-light);
    color: var(--grey-light)
}

.channel-button:hover, .channel-menu-btn:hover {
    background-color: var(--lilac-middle);
}

.current, .channel-button:active, .channel-menu-btn:active  {
    background-color: var(--lilac-dark);
    color: var(--white-grey-light);
}


