.channel {
    display: flex;
}

.channels-title {
    color: var(--grey-dark);
}

.add-channel-button:active {
    border: none;
    box-shadow: 2px 2px 5px 0 var(--lilac-middle);
}

.channel-button {
    padding: 0.4rem 0.8rem;

    background-color: var(--lilac-light);
    color: var(--grey-middle);
    border: none;
}

.channel-button:hover {
    background-color: var(--lilac-middle);
}

.channel-menu-btn {
    border: none;
    background-color: var(--lilac-light);
    color: var(--grey-light)
}

.current, .channel-button:active {
    background-color: var(--lilac-dark);
    color: var(--white-grey-light);
}

.dropdown-menu {
    display: block;
    position: absolute;
    transform: translate3d(0px, 40px, 0px);
}

.dropdown-item {
    display: flex;
}