.not-found-container {
    margin-top: 80px;
}

.notFound-img {
    margin-bottom: 30px;
    width: 400px;
    height: 400px;
}

.to-main {
    color: var(--grey-dark);
}

.main-link {
    color: var(--lilac-dark);
}
