.login-button {
    padding: 5px 0;

    color: #385A64;

    background-color: #F3D2F1;
    border: 1px solid #D268CC;
    border-radius: 5px;
}

.login-button:hover {
    color: #ffffff;
    background-color: #E7A5E2;
    cursor: pointer;
}

.login-button:active {
    color: #ffffff;
    background-color: #D268CC;

    position: relative;
    top: 2px;
}