.login-button {
    padding: 5px 0;

    color: var(--grey-dark);

    background-color: var(--lilac-light);
    border: 1px solid var(--lilac-dark);
    border-radius: 5px;
}

.login-button:hover {
    color: var(--white-grey-light);
    background-color: var(--lilac-middle);
    cursor: pointer;
}

.login-button:active {
    color: var(--white-grey-light);
    background-color: var(--lilac-dark);

    position: relative;
    top: 2px;
}
