#channels-box {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.add-icon {
    padding: 0;
    margin: 0;
  
    width: 20px;
    height: 20px;
  
    color: var(--lilac-dark);
  }
  
.add-icon:hover {
    color: var(--lilac-middle);
}