.modal-button {
    margin: 15px 3px 0;
    background-color: var(--lilac-light);
    color: var( --grey-middle);
}

.high {
    background-color: var(--lilac-middle);
    box-sizing: content-box;
    border: solid 0.8px var(--lilac-dark);
}

.modal-button:hover {
    background-color: var(--lilac-dark);
    color: var(--white);
};

.modal-button:active {
    background-color: var(--lilac-dark);
    color: var(--white);

    position: relative;
    top: 2px;
}