.container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.form-card {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px;
    border-color: black;

}